@media screen and (max-width: 1450px) {
    .guideRow {
        flex-direction: column;
    }
    .guideRowRight {
        margin-left:0px;
    }
    .guideRowLeft {
        margin-bottom: 25px !important;
    }
    .guideRowLeft, .categoryThumbContainer {
        max-width: calc(100% - 7.5px);
        width:100%;
        margin: 0 auto;
    }
    .categoryThumbContainer {
        margin: 0 auto;
    }
}