.rh5v-DefaultPlayer_component {
    font-family: inherit !important;
    /* background-color: #1f252b !important; */
}
.rh5v-Volume_icon {
    padding: 3px !important;
}
.rh5v-Fullscreen_icon {
    padding: 3px !important;
}
.rh5v-PlayPause_icon {
    padding: 3px;
}
.rh5v-Overlay_inner {
    border-radius: 2px !important;
    background: #1f252b !important;
}







